@charset "UTF-8";
/* open-sans-regular - latin_cyrillic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sanss";
  src: url("/fonts/open-sans-v18-latin_cyrillic-regular.eot") format("embedded-opentype"), url("/fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"), url("/fonts/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"), url("/fonts/open-sans-v18-latin_cyrillic-regular.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "Open Sanss";
  font-size: 16px;
  min-width: 100%;
  height: 100vh; }

.mcolor {
  color: #333333; }

.scolor {
  color: #666666; }

.title {
  font-size: 35px;
  color: #333333; }

.container {
  max-width: 1220px;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.blue {
  background-color: #3498db;
  color: #fff; }
  .blue a {
    color: #fff;
    text-decoration: none; }
    .blue a:hover {
      text-decoration: underline; }

.italic {
  font-style: italic; }

header {
  height: 100px;
  min-width: 100%;
  display: flex;
  box-shadow: 0px 5px 5px 0px rgba(223, 223, 223, 0.6); }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: 0 auto; }
    header .container ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .container ul li {
        display: flex;
        justify-content: space-between;
        margin: 0 9px; }
        header .container ul li:last-child {
          margin-right: 0; }
      header .container ul a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        font-size: 14px;
        text-decoration: none;
        color: #666666; }
        header .container ul a:hover {
          background-color: #eeefef;
          color: #2f7bb8; }
      header .container ul .zayava {
        background-color: #2f7bb8;
        color: #fff;
        border-radius: 20px;
        width: 139px;
        justify-content: center; }

.registration {
  background-color: #f7f7f7;
  width: auto;
  height: 665px; }
  .registration .container {
    display: flex; }
  .registration .star {
    color: red; }
  .registration_info {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    margin-top: 48px; }
    .registration_info h2 {
      font-size: 34px; }
    .registration_info p {
      font-size: 20px;
      text-align: center;
      padding-top: 30px;
      color: #787878; }
  .registration_form {
    max-width: 50%;
    margin: 0 10px; }
    .registration_form .form__item .input {
      width: 590px;
      height: 54px;
      margin-top: 5px; }
    .registration_form .scales {
      margin-top: 23px; }
    .registration_form #wisited {
      text-decoration: none; }
      .registration_form #wisited:visited {
        color: blue; }
      .registration_form #wisited:hover {
        text-decoration: underline; }
    .registration_form .form__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .registration_form #send {
      width: 370px;
      height: 50px;
      margin: 30px auto;
      background-color: #337AB7;
      border: none;
      border-radius: 23px;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase; }

.courses .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 563px; }
  .courses .container .title {
    margin-bottom: 40px; }
  .courses .container .slick-slider {
    min-width: 0; }
  .courses .container .slick-list {
    overflow: hidden;
    min-width: 0;
    max-width: 1220px;
    margin: 0 auto; }
  .courses .container .slick-track {
    min-width: 0;
    display: flex;
    justify-content: space-around;
    width: 1170px; }
  .courses .container .slick-slide {
    width: 370px; }
  .courses .container .post {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .courses .container .post img {
      margin-bottom: 20px; }
    .courses .container .post__title {
      color: #666666;
      font-size: 22px;
      border-bottom: 1px solid #3498db;
      padding: 18px 0;
      margin-bottom: 35px;
      flex-wrap: nowrap; }
    .courses .container .post__body {
      color: #888888;
      text-align: center;
      font-size: 16px;
      width: 320px; }

.achieve {
  height: 310px; }
  .achieve .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .achieve__item {
    text-align: center; }
  .achieve__number {
    font-size: 25px; }

.reviews {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 525px; }
  .reviews .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .reviews__title {
    margin-bottom: 14px; }
  .reviews__text {
    font-size: 22px; }
  .reviews .brackets {
    display: flex; }
    .reviews .brackets__right {
      display: flex;
      flex-direction: column;
      justify-content: end; }
  .reviews .slick-slider {
    height: 50%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden; }
  .reviews .slick-track {
    display: flex;
    overflow: hidden; }
  .reviews .slick-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1220px; }
  .reviews .slick-dots {
    display: flex;
    justify-content: center; }

.videos {
  background-color: #f7f7f7; }
  .videos .container {
    padding: 65px 0;
    text-align: center; }
    .videos .container iframe {
      margin-top: 30px; }
  .videos .title {
    margin-bottom: 30px; }

.mentors .title {
  text-align: center; }

.mentors__text {
  font-size: 18px; }

.mentors .slick-slider {
  min-width: 0; }

.mentors__item {
  min-width: 0; }

.mentors .slick-track {
  display: flex;
  max-width: 900px; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.contacts .container {
  padding: 40px 0;
  display: flex;
  justify-content: space-around; }

.contacts__item {
  text-align: center; }

.footer {
  margin-top: auto;
  display: flex;
  height: 156px;
  background-color: #f7f7f7; }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer .container p {
      font-size: 16px;
      color: #3199dc;
      padding: 10px; }
      .footer .container p a {
        text-decoration: none;
        color: #8f8f8f; }
        .footer .container p a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
