@charset "UTF-8";
/* open-sans-regular - latin_cyrillic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sanss";
  src: url("/fonts/open-sans-v18-latin_cyrillic-regular.eot") format("embedded-opentype"), url("/fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"), url("/fonts/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"), url("/fonts/open-sans-v18-latin_cyrillic-regular.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "Open Sanss";
  font-size: 16px;
  width: 100%;
  height: 100vh;
  line-height: 30px; }

.mcolor {
  color: #333333; }

.scolor {
  color: #666666; }

.title {
  font-size: 35px;
  color: #333333; }

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px; }

:focus {
  outline: none; }

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }

.blue {
  background-color: #3498db;
  color: #fff; }
  .blue a {
    color: #fff;
    text-decoration: none; }
    .blue a:hover {
      text-decoration: underline; }

.italic {
  font-style: italic; }

.header {
  background-color: #ffffff;
  z-index: 1500;
  height: 100px;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(223, 223, 223, 0.6);
  position: fixed; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .header .container ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .container ul li {
        display: flex;
        justify-content: space-between;
        margin: 0 9px; }
        .header .container ul li:last-child {
          margin-right: 0; }
      .header .container ul a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        font-size: 14px;
        text-decoration: none;
        color: #666666; }
        .header .container ul a:hover {
          background-color: #eeefef;
          color: #2f7bb8; }
      .header .container ul .zayava {
        background-color: #2f7bb8;
        color: #fff;
        border-radius: 20px;
        width: 139px;
        justify-content: center; }

.registration {
  margin-top: 100px;
  background-color: #f7f7f7;
  width: 100%;
  height: 665px; }
  .registration .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .registration .star {
    color: red; }
  .registration_info {
    line-height: 30px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    margin-top: 48px; }
    .registration_info p {
      font-size: 20px;
      text-align: center;
      padding-top: 30px;
      color: #787878; }
  .registration_form {
    width: 50%;
    height: 100%;
    margin: 0 10px; }
    .registration_form h2 {
      font-size: 22px;
      margin-top: 50px; }
    .registration_form .form__item .input {
      width: 100%;
      height: 50px;
      border: 1px solid #bababa;
      border-radius: 5px;
      margin-top: 5px;
      padding: 0 15px; }
      .registration_form .form__item .input:focus {
        outline: none;
        border: 1px solid #66afe9;
        box-shadow: 0px 0px 10px 1px rgba(102, 175, 233, 0.5); }
    .registration_form .scales {
      margin-top: 23px; }
    .registration_form #wisited {
      text-decoration: none; }
      .registration_form #wisited:visited {
        color: blue; }
      .registration_form #wisited:hover {
        text-decoration: underline; }
    .registration_form .form__body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding-bottom: 30px; }
    .registration_form #send {
      width: 100%;
      height: 50px;
      align-self: center;
      background-color: #337AB7;
      border: none;
      border-radius: 23px;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase; }

.courses {
  background-color: #fff; }
  .courses .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 563px; }
    .courses .container .title {
      margin-bottom: 40px; }
    .courses .container .slick-slider {
      width: 100%;
      min-width: 0; }
    .courses .container .slick-list {
      width: 100%;
      overflow: hidden;
      min-width: 0;
      margin: 0 auto; }
    .courses .container .slick-track {
      min-width: 0;
      display: flex;
      width: 100%;
      margin: 0 auto; }
    .courses .container .slick-slide.slick-active {
      width: 350px; }
    .courses .container .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center; }
    .courses .container .slick-dots li {
      list-style: none;
      margin: 0 10px; }
    .courses .container .slick-dots li.slick-active button {
      background-color: #666666; }
    .courses .container .slick-dots li button {
      font-size: 0;
      border: none;
      background-color: #b3b3b3;
      width: 12px;
      height: 12px;
      border-radius: 50%; }
    .courses .container .post {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 35px; }
      .courses .container .post img {
        margin-bottom: 20px; }
      .courses .container .post__title {
        color: #666666;
        font-size: 22px;
        border-bottom: 1px solid #3498db;
        padding-bottom: 18px;
        margin-bottom: 17px;
        width: 100%;
        flex-wrap: nowrap; }
      .courses .container .post__body {
        color: #888888;
        text-align: center;
        font-size: 16px;
        width: 100%; }

.achieve {
  height: 310px; }
  .achieve .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .achieve__item {
    text-align: center; }
  .achieve__number {
    font-size: 25px; }

.reviews {
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 525px; }
  .reviews .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
  .reviews__title {
    margin-bottom: 14px;
    margin-top: 76px; }
  .reviews__text {
    font-size: 22px; }
  .reviews__person {
    margin-top: 40px; }
  .reviews .brackets {
    display: flex;
    max-width: 976px;
    margin: 0 auto; }
    .reviews .brackets__right {
      display: flex;
      flex-direction: column;
      justify-content: end; }
  .reviews .slick-slider {
    height: max-content;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
  .reviews .slick-track {
    display: flex;
    overflow: hidden; }
  .reviews .slick-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1220px; }
  .reviews .slick-dots {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .reviews .slick-dots li {
    list-style: none;
    margin: 0 10px; }
  .reviews .slick-dots li.slick-active button {
    background-color: #666666; }
  .reviews .slick-dots li button {
    font-size: 0;
    border: none;
    background-color: #b3b3b3;
    width: 12px;
    height: 12px;
    border-radius: 50%; }

.videos {
  background-color: #f7f7f7; }
  .videos .container {
    padding: 65px 0;
    text-align: center; }
    .videos .container iframe {
      margin-top: 30px;
      max-width: 1020px;
      width: 100%; }
  .videos .title {
    margin-bottom: 30px; }

.mentors {
  background-color: #fff; }
  .mentors .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0; }
  .mentors__slider {
    min-width: 0; }
  .mentors .title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px; }
  .mentors__item {
    display: flex;
    min-width: 0; }
    .mentors__item img {
      margin-right: 100px; }
  .mentors__title {
    font-size: 21px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    color: #3498db; }
  .mentors__text {
    font-size: 18px;
    color: #666666; }
    .mentors__text p {
      margin-top: 20px; }
  .mentors .slick-slider {
    overflow: hidden;
    width: 100%; }
  .mentors .slick-list {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .mentors .slick-track {
    display: flex; }
  .mentors .slick-dots {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .mentors .slick-dots li {
    list-style: none;
    margin: 0 10px; }
  .mentors .slick-dots li.slick-active button {
    background-color: #666666; }
  .mentors .slick-dots li button {
    font-size: 0;
    border: none;
    background-color: #b3b3b3;
    width: 12px;
    height: 12px;
    border-radius: 50%; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.contacts .container {
  padding: 40px 0;
  display: flex;
  justify-content: space-around; }

.contacts__item {
  text-align: center; }

.footer {
  margin-top: auto;
  display: flex;
  height: 156px;
  background-color: #f7f7f7; }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer .container p {
      font-size: 16px;
      color: #3199dc;
      padding: 10px; }
      .footer .container p a {
        text-decoration: none;
        color: #8f8f8f; }
        .footer .container p a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
